/* Fonts */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/roboto.woff2) format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/robotobold.woff2) format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/robotomedium.woff2) format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

/* variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #eeeeee;
  --basic-hover-gray: #dfdfdf;
  --basic-active-gray: #d5d5d5;
  --basic-red: #fb565a;
  --basic-hover-red: #e74246;
  --basic-active-red: #d7373b;
  --basic-green: #00ca74;
  --basic-hover-green: #00bc6c;
  --basic-active-green: #00aa62;
  --basic-yellow: #efc849;
  --basic-hover-yellow: #eab534;
  --basic-active-yellow: #e5a722;

  --tiny-line-height: 20px;

  --small-font-size: 14px;
  --small-line-height: 18px;
  --very-small-line-height: 22px;

  --basic-font-size: 16px;
  --basic-line-height: 24px;
  --basic-font-weight: 400;
  --basic-font-style: normal;

  --medium-font-size: 18px;
  --medium-line-height: 30px;
  --medium-font-weight: 500;

  --very-medium-line-height: 36px;

  --large-font-size: 24px;
  --large-line-height: 45px;
  --large-font-weight: 700;

  --very-large-font-size: 36px;
  --very-large-line-height: 53px;

  --big-font-size: 45px;
  --big-line-height: 55px;

  --very-big-font-size: 55px;
  --very-big-line-height: 64px;

  --sup-font-size: 26px;
  --sup-line-height: 40px;

}

/* global */

.page-body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: var(--basic-font-size);
  line-height: var(--basic-line-height);
  font-weight: var(--basic-font-weight);
  color: var(--basic-black);
  background-color: var(--basic-white);
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.button {
  line-height: var(--small-line-height);
  font-weight: var(--medium-font-weight);
	text-transform: uppercase;
	display: inline-block;
	transition: background 0.4s ease;
}

.wrapper {
  margin: 0 auto;
}

/* header */

.header {
	background-color: var(--basic-gray);
}

.header__wrapper {
	width: 1160px;
	margin: 0 auto;
	display: flex;
  justify-content: space-between;
  padding-top: 49px;
}

.site-list {
  display: flex;
  padding-top: 26px;
  margin-right: 131px;
}

.header__logo {
	cursor: pointer;
}

.header__logo:hover {
	opacity: 70%;
}

.header__logo:active {
	opacity: 30%;
}

.main-nav__list {
  list-style: none;
}

.site-list__item {
  text-transform: uppercase;
  margin-left: 45px;
}

.site-list__item:last-child {
  margin-right: 0;
}

.user-nav {
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

/* container-wrapper */

.container-wrapper {
  display: grid;
}

/* main-nav */

.site-list__item {
  line-height: var(--medium-line-height);
}

.site-list__item a {
	color: var(--basic-black);
}

.site-list__item a:hover {
	color: var(--basic-red);
}

.site-list__item a:active {
	color: var(--basic-black);
	opacity: 30%;
}

.head__title {
  font-size: var(--very-big-font-size);
  line-height: var(--big-line-height);
  font-weight: var(--medium-font-weight);
}

.basket {
	position: relative;
  text-transform: uppercase;
  padding-top: 28px;
	color: var(--basic-black);
  fill: #a6a6a6;
}

.basket:hover {
  color: var(--basic-red);
}

.basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.basket svg {
	position: absolute;
	top: 32px;
  left: -39px;
}

.page {
  height: 100%;
}

/* slider */

.slider {
	background-color: var(--basic-gray);
}

.slider__container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.slider__wrapper {
	overflow: hidden;
}

.slider__list {
	display: flex;
	width: 300%;
	transition: all 0.5s;
}

.slider__item {
	display: flex;
  width: 100%;
	text-align: left;
}

.slider__item-descr {
	padding-top: 71px;
}

.slider__slogan {
  font-size: var(--very-big-font-size);
  line-height: var(--big-line-height);
  font-weight: var(--medium-font-weight);
	display: inline-block;
	margin-bottom: 25px;
}

.slider__text {
	margin-bottom: 40px;
}

.button__slider {
	background-color: var(--basic-red);
	color: var(--basic-white);
	padding: 15px 54px;
	border-radius: 3px;
}

.button__slider:hover {
	background-color: var(--basic-hover-red);
}

.button__slider:active {
	background-color: var(--basic-active-red);
	color: rgba(255, 255, 255, 0.3);
}

.slider input[name=toggle] {
	display: none;
}

.slider__controls {
	position: absolute;
	width: 80px;
	top: 72%;
	right: 46%;
}

.slider__controls label {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 3px;
	background-color: var(--basic-white);
	cursor: pointer;
	border-radius: 50%;
}

#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"] { 
	background: url(../img/slider-active.png);
}

#btn-1:checked ~ .slider__wrapper .slider__list {
	transform: translateX(0);
}
	
#btn-2:checked ~ .slider__wrapper .slider__list {
	transform: translateX(-1160px);
}

#btn-3:checked ~ .slider__wrapper .slider__list {
	transform: translateX(-2320px);
}

/* nerds */
/* advantages */

.visually-hidden {
  display: none;
}

.advantages {
	padding-top: 73px;
	padding-bottom: 80px;
}

.advantages__wrapper {
  width: 1160px;
  margin: 0 auto;
}

.advantages__list {
  list-style: none;
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 40px;
}

.advantages__image {
	margin-bottom: 17px;
}

.advantages__image--red {
	background-color: var(--basic-red);
}

.advantages__image--green {
	background-color: var(--basic-green);
}

.advantages__image--yellow {
	background-color: var(--basic-yellow);
}

.advantages__title {
  font-size: var(--large-font-size);
  line-height: var(--medium-line-height);
  font-weight: var(--large-font-weight);
  text-transform: uppercase;
	margin-bottom: 17px;
	display: inline-block;
}

.advantages__text {
	margin-bottom: 31px;
	max-width: 245px;
}

.button__order {
	display: inline-block;
	padding: 16px 39px;
	border-radius: 3px;
	color: var(--basic-white);
}

.button__order--red {
	background-color: var(--basic-red);
}

.button__order--red:hover {
	background-color: var(--basic-hover-red);
}

.button__order--red:active {
	background-color: var(--basic-active-red);
	color: rgba(255, 255, 255, 0.3);
}

.button__order--green {
	background-color: var(--basic-green);
}

.button__order--green:hover {
	background-color: var(--basic-hover-green);
}

.button__order--green:active {
	background-color: var(--basic-active-green);
	color: rgba(255, 255, 255, 0.3);
}

.button__order--yellow {
	background-color: var(--basic-yellow);
}

.button__order--yellow:hover {
	background-color: var(--basic-hover-yellow);
}

.button__order--yellow:active {
	background-color: var(--basic-active-yellow);
	color: rgba(255, 255, 255, 0.3);
}

/* nerds-wrapper */

.nerds__wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 67px;
	border-top: 2px solid var(--basic-gray);
}

.description {
	max-width: 650px;
	padding-top: 33px;
}

.description__title {
  font-size: var(--big-font-size);
  line-height: var(--large-line-height);
  font-weight: var(--medium-font-weight);
	margin-bottom: 33px;
}

.description__slogan {
	margin-bottom: 40px;
}

.description__subtitle {
  font-weight: var(--large-font-weight);
	margin-bottom: 24px;
	text-transform: uppercase;
}

.description__list {
	list-style-type: none;
}

.description__list li {
	position: relative;
	padding-left: 36px;
	margin-bottom: 24px;
}

.description__list li:last-child {
	margin-bottom: 0px;
}

.description__list li::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	top: 10px;
  left: 0;
	background-color: var(--basic-red);
}

/* statistics */

.statistics {
	max-width: 375px;
	text-align: center;
}

.statistics__title {
  font-weight: var(--large-font-weight);
	display: inline-block;
	margin-top: 29px;
	margin-bottom: 22px;
	text-transform: uppercase;
}

.statistics__table {
  max-width: 375px;
  border-spacing: 13px 9px;
}

.statistics__table-number {
  font-size: var(--big-font-size);
  line-height: var(--very-big-line-height);
  font-weight: var(--large-font-weight);
	text-align: left;
}

.statistics__table-percent {
  font-size: var(--sup-font-size);
  line-height: var(--sup-line-height);
  font-weight: var(--large-font-weight);
	left: -0.4em;
}

.statistics__table-text {
  max-width: 100px;
  line-height: var(--small-line-height);
	text-align: left;
}

/* image__logo */

.image__logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	border-bottom: 2px solid var(--basic-gray);
	padding-top: 51px;
	padding-bottom: 34px;
	margin-bottom: 80px;
}

.image__logo a {
	text-align: center;
  position: relative;
	opacity: 30%;
}

.image__logo a:hover {
	opacity: 100%;
}

.image__logo a:active {
	opacity: 30%;
}

.image__logo a::after {
  position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 2px;
	height: 52px;
	background-color: rgba(0, 0, 0, 1);
}

.image__logo a:last-child::after {
	display: none;
}

.catalog-main {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sites__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}



/* map */

.map {
	position: relative;
}

.map::after {
	position: absolute;
	content: url("../img/map-marker.png");
	top: 18%;
  right: 28%;
}

.map__card-contacts {
	position: absolute;
	max-width: 320px;
	padding: 50px;
	background-color: var(--basic-white);
	top: 50%;
	transform: translateY(-50%);
	left: 20%;
}

.map__studio {
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  font-weight: var(--large-font-weight);
	margin-bottom: 30px;
}

.map__contacts {
  line-height: var(--small-line-height);
	font-style: normal;
	margin-bottom: 16px;
	color: #666666;
	max-width: 210px;
}

.map__phone {
  line-height: var(--small-line-height);
	margin-bottom: 32px;
	color: #666666;
	display: inline-block;
}

.button__map {
  line-height: var(--small-line-height);
  font-weight: var(--medium-font-weight);
	background-color: var(--basic-red);
	padding: 16px 44px;
	border-radius: 3px;
	color: var(--basic-white);
}

.button__map:hover {
	background-color: var(--basic-hover-red);
}

.button__map:active {
	background-color: var(--basic-active-red);
	color: rgba(255, 255, 255, 0.3);
}

/* filter-item */

.filter-cost {
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  font-weight: var(--large-font-weight);
  text-transform: uppercase;
}

.min-price {
  line-height: var(--very-small-line-height);
}

.max-price {
  line-height: var(--very-small-line-height);
}

/* filter-option */

.filter-item {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.filter__radio, .filter__check {
  display: none;
}

.filter__label {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  color: #283136;
  padding-bottom: 25px;
  padding-left: 37px;
}

.filter__label:last-child {
  padding-bottom: 0;
}

.filter__label--radio::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: 0;
  position: absolute;
  background-image: url("../img/radio-off.png");
  opacity: 0.4;
}

.filter__label--radio:hover::before, .filter__label--check:hover::before {
  opacity: 1;
}

.filter__label--radio:active::before, .filter__label--check:active::before {
  opacity: .1;
}

input[type=radio]:checked + label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: 0;
  position: absolute;
  background-image: url("../img/radio-on.png");
}

.filter__label--check::before {
  content: "";
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/checkbox-off.png");
  opacity: 0.4;
}

input[type=checkbox]:checked + label::before {
  content: "";
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/checkbox-on.png");
}

.filter__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  width: 260px;
  min-height: 50px;
  background-color: #eee;
  border: 0;
  cursor: pointer;
  border-radius: 5%;
  border-radius: 5px;
}

/* pagination */

.filter__button:hover, .pagination__item:hover {
  background-color: #dfdfdf;
}

.filter__button:active, .pagination__item:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: 0 3px 0 0 #bfbfbf inset;
}

.pagination__item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 50px;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 21px;
  background-color: #eee;
  border-radius: 5%;
  margin-right: 6px;
}

.paginator--current {
  background-color: #fff;
  border: 2px solid #eee;
  box-sizing: border-box;
}




/* filter-impression */

.filter-impression {
  border: none;
}

.filter-features {
  border: none;
}

.filter-impression__title {
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  font-weight: var(--large-font-weight);
  text-transform: uppercase;
}

.filter-impression__option {
  line-height: var(--tiny-line-height);
  list-style: none;
}

/* filter-features */

.filter-features__title {
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  font-weight: var(--large-font-weight);
  text-transform: uppercase;
}

.filter-features__item {
  line-height: var(--tiny-line-height);
  list-style: none;
}


/* search-navigation */

.search-navigation {
  display: flex;
  justify-content: flex-start;
}

.search-navigation__link {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.search-navigation__sort {
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  font-weight: var(--large-font-weight);
  text-transform: uppercase;
}

.search-navigation__item {
  font-size: var(--small-font-size);
  line-height: var(--small-line-height);
}

/* sites */

.sites__title {
  font-size: var(--medium-font-size);
  line-height: var(--medium-line-height);
  font-weight: var(--large-font-weight);
  text-transform: uppercase;
}

.sites__text {
  line-height: var(--small-line-height);
}

.pagination-list {
  line-height: var(--small-line-height);
  font-weight: var(--medium-font-weight);
}



/* footer */

.main-footer {
	padding: 59px 0;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
	grid-column-gap: 139px;
  width: 1160px;
  margin: 0 auto;
  justify-content: space-between;
	align-items: center;
}

.footer__title {
  font-size: var(--very-large-font-size);
  line-height: var(--very-medium-line-height);
  font-weight: var(--large-font-weight);
	margin-bottom: 10px;
}


.footer__text {
  line-height: var(--very-small-line-height);
}

.footer__social {
  display: flex;
  align-items: center;
	justify-content: space-between;
	max-width: 260px;
}

.social__item {
  list-style-type: none;
}

.social__item a {
  position: relative;
  font-size: 0;
  display: inline-block;
  width: 81px;
  height: 81px;
  background-color: #e1e1e1;
  border-radius: 50%;
  transition: background 0.6s ease;
  fill: var(--basic-white);
}

.social__item a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.social__item a:hover {
  background-color: var(--basic-red);
}

.social__item a:active {
	background-color: var(--basic-active-red);
  fill: rgba(255, 255, 255, 0.3);
}

.social__item a:last-child {
  margin-right: 0;
}

/* modal */

/* .modal__title {
  font-size: var(--big-font-size);
  line-height: var(--very-large-line-height);
  font-weight: var(--large-font-weight);
}

.modal__text {
  line-height: var(--small-line-height);
}

.modal__item {
  line-height: var(--small-line-height);
  font-weight: var(--large-font-weight);
}

.button__modal {
  line-height: var(--small-line-height);
  font-weight: var(--medium-font-weight);
} */






